$main_green_color: darkgreen;
$main_blue_color: lightblue;
$main_red_color: darkred;


header {
    height: 100px;
    background-color: $main_green_color;

    &:hover {
        background-color: aquamarine;
    }
}

main {
    height: 80vh;
    background-color: $main_blue_color;
}

footer {
    height: 10vh;
    background-color: $main_red_color;
}