header {
    height: 100px;
    background-color: crimson;

    &:hover {
        background-color: aquamarine;
    }
}

main {
    height: 80vh;
    background-color: teal;
}

footer {
    height: 10vh;
    background-color: violet;
}